---
title: Danger - About this Site
subtitle: About this Site
layout: layout_js
---

- colors = ["vibrant", "vibrant-light",  "vibrant-dark", "muted", "muted-light", "muted-dark"]
- tweet = JSON.parse(File.read "source/images/js/conway_tweet_oembed.json")
- scss = File.read "source/stylesheets/colors-js.scss"

section.guide style='display: flex; flex-flow:row;'
  article style='flex:1'
    markdown:
      # About this Site

      This site is a really interesting project. It's a static site, but it is often updated
      due to danger plugins plugins in the form of gems and npm modules. Any repo associated with Danger can [trigger](https://gitlab.com/danger-systems/danger.systems#danger-systems-webhookherokuappcom-1)
      a fresh re-build of the site by releasing a new version. This keeps the site always up-to-date and also makes it easy to host/maintain.

      The Danger JS website however takes the idea a bit further, and the entire colour scheme to be generated at runtime. This page covers a little bit of the details around how that works.
      
  article style='flex:1; padding: 0 20px 20px 20px;'
    markdown:
      # &nbsp;
      ### The Colour Scheme
      
      This site gets built on the GitLab CI runner, controlled mainly by a single Rakefile in the root. This Rakefile bootstraps the site, and then pulls down the most recent tweet from  <a href="https://twitter.com/CloudyConway">@CloudyConway</a> at the time of the build.

      For this build, it was:

    p
      center
        == tweet["html"]

    markdown:

      Next the logo is created by taking the image and <a href="https://gitlab.com/danger-systems/danger.systems/blob/master/static/source/images/js/masks/danger-logo-mask-hero@2x.png">applying a mask<a/> with <a href="https://www.npmjs.com/package/jimp">jimp</a>.

      The site then generates a <a href="https://gitlab.com/danger-systems/danger.systems/blob/master/scripts/palette.js">colour palette</a> from the image. The colour palette uses <a href="https://github.com/akfish/node-vibrant">node-vibrant</a> to pick out 2 main colours, and 4 derivatives from the images. These 6 colours are then used thoughout the site.
      
      To simplify the site assets, these colours are turned into an scss file, which looks like this:

    pre 
      code.colors 
        - scss.lines do |l|
          - index = scss.lines.index(l)
          == l.strip.split("#").first + "<span class=#{colors[index]}>￭</span>#" + l.strip.split("#").last + "\n"
    
    markdown:

      These colours then imported into any other scss file as variables and ensure that everything is consistent. The same thing is done with SVG files, I set a custom key colour inside Sketch which I know will be replaced by a theme-fitting colour.

      This theme generation means that the Danger site should be a different colour scheme every time you visit. It does mean the theme might not turn out great every time, at the trade-off of sometimes it's a real pleasant surprise.
